<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://eshoppublicapieastus.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/f1dcefa9-655c-4756-a089-b56cca33f20e/resourcegroups/EShopOnWebEastUS/providers/Microsoft.ContainerRegistry/registries/PublicApi20241012174629</ContainerResourceId>
    <ContainerResourceName>PublicApi20241012174629</ContainerResourceName>
    <Subscription>Visual Studio Professional</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>publicapi20241012174629.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ApiResourceId>/subscriptions/f1dcefa9-655c-4756-a089-b56cca33f20e/resourceGroups/EShopOnWebEastUS/providers/Microsoft.ApiManagement/service/EShopPublicApi/apis/PublicApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/f1dcefa9-655c-4756-a089-b56cca33f20e/resourcegroups/EShopOnWebEastUS/providers/Microsoft.Web/sites/EShopPublicApiEastUS</ResourceId>
    <ResourceGroup>EShopOnWebEastUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://eshoppublicapieastus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b5e4f33c-4667-4a55-af6a-740f84c4cf3a</ProjectGuid>
  </PropertyGroup>
</Project>