<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/f1dcefa9-655c-4756-a089-b56cca33f20e/resourcegroups/EShopRG/providers/Microsoft.ContainerRegistry/registries/EShopOnlineRegistry</ResourceId>
    <ResourceName>EShopOnlineRegistry</ResourceName>
    <ResourceGroup>EShopRG</ResourceGroup>
    <Subscription>Visual Studio Professional</Subscription>
    <RegistryUrl>eshoponlineregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>227cf035-29b0-448d-97e4-944f9ea850e5</ProjectGuid>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>