<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f1dcefa9-655c-4756-a089-b56cca33f20e/resourcegroups/EShopWeb/providers/Microsoft.ContainerRegistry/registries/Web20241126161448</ResourceId>
    <ResourceName>Web20241126161448</ResourceName>
    <ResourceGroup>EShopWeb</ResourceGroup>
    <Subscription>Visual Studio Professional</Subscription>
    <RegistryUrl>https://web20241126161448.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>227cf035-29b0-448d-97e4-944f9ea850e5</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>