<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://eshoporderitemsreserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f1dcefa9-655c-4756-a089-b56cca33f20e/resourcegroups/EShopRG/providers/Microsoft.Web/sites/EShopOrderItemsReserver</ResourceId>
    <UserName>$EShopOrderItemsReserver</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://eshoporderitemsreserver.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>